<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Password</title>
  </head>
  <body class='jumbotron'>
    <h1>Password Generator</h1>
    <br><br>
  

    <h2>The password is {{ password }}</h2>   
    <br>
    <a href="{% url 'home'%}">Home Page</a>  
    <br>
    <a href="{% url 'about'%}">About us</a>                                                       
  
  </body>
